<html>
<head><title>Analyzed Text</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<p><h3 style="display:inline"> Analyzed Punctuation : </h3> {{filteredPunctuations}}</p>
<p><h3 style="display:inline"> Capitalization : </h3>{{textCapital}}</p>
<p> <h3 style="display:inline">remove new lines : </h3>{{removeNewLine}}</p>
<p><h3 style="display:inline"> Extra Space Removed : </h3>{{extraSpaceRemoved}}</p>
<p><h3 style="display:inline"> Characters count : </h3>{{charCounter}}</p>

</body>
</html>