<!DOCTYPE html>
<html lang="en">
<head>
<title>First Django Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
  h1
  {
      color:green;
  }
  </style>
</head>
<body class="container">
<center><h1> Text Analayzer Application</h1></center>
<br>
<form action='/filteredText' method='post'>
{% csrf_token %}   
<div class="form-group">
<textarea name='text' class="form-control"  rows="5" style="padding:20px"></textarea>
</div>

<input type="checkbox" name="punctuation"> Punctuation
<input type="checkbox" name="extraSpace"> Extra Space Remover
<input type="checkbox" name="fullcaps"> Capitalization
<input type="checkbox" name="newline"> Text without Newline
<input type="checkbox" name="charCount"> char counter
<br>
<br>
<center><button type='submit' class="btn btn-primary">Analayzer</button></center>
</form>
</body>
</html>